.album {
    --size: 200px;

    width: var(--size);
    height: var(--size);

    &.small {
        --size: 3em;
    }
}

.album-card {
    &:hover {
        background-color: var(--album-color);
    }
}

.album-meta,
.song-meta {
    max-width: 300px;

    & > p {
        text-align: justify;
    }
}

.song-list {
    padding-left: 1em;
}
